.inputField {
  composes: position-relative fs-14 from '@scss/global.css';
  box-shadow: none !important;
  height: 50px;
  line-height: 50px;
}

.customLabel {
  composes: font-regular fs-12 text-capitalize lh_1 color-label from '@scss/global.css';
  pointer-events: none;
  -webkit-transition: all 0.2s ease;
  -o-transition: all ease 0.2s;
  transition: all 0.2s ease;
  z-index: 10;
}
