.vertical-line {
  /*border-left: 1px solid #21ce99;*/
}

.profile-area-container {
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  //padding: 30px 15px;
  background: #FFF;
  overflow: hidden;
}

.profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #b7b7b7;
    font-size: 8rem;
    color: #d8d8d8;
    text-align: center;
    line-height: 150px;
    margin: auto;
}
.real-Image{
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50% !important;
  text-align: center;
  line-height: 150px;
  margin: auto;
}
.change-pic{
  color: #fff;
  text-align: center;
  //margin: auto;
  margin-top: -30px;
  font-weight: 500;
}

.upload-pic {
  bottom:0;
  right:10px;
  border:1px solid #c0c0c0;
  height:40px;
  width:40px;
  border-radius: 50%;
  background:#FFF;
}

.zom-edit-profile::before {
    font-family: 'zombatsRegular';
    float:left;
    width:100%;
    height:100%;
    font-size: 16px;
    color:#21ce99;
    line-height: 40px;
    content:'e';
}

.zom-mobile::before {
    font-family: 'zombatsRegular';
    float:left;
    font-size: 12px;
    margin-top:3px;
    content:'\0023';
    font-style: normal;
}

.zom-email::before {
    font-family: 'zombatsRegular';
    float:left;
    font-size: 12px;
    margin-top:3px;
    content:'\00A7';
    font-style: normal;
}

.upload-pic input[type="file"] {
    //position: relative;
    align-content: center;
    /* top: 0; */
    width: 100%;
    /* height: auto; */
    opacity: 0;
    height:100%;
    //display: inline-block;
}

.location-text{
  word-break: break-all;
  float: left;
}

.document .document-type-header {
  font-weight: 500;
  font-size: 18px;
  margin-top: 0;
  margin-left: 15px;
  font-weight: 500;
}
.vertical-menu {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #FFF;
  box-shadow: 0 1px 2px 0 #e7e7e7;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  overflow: hidden;
  h2 {
    font-size: 20px;
    font-weight: 500;
  }
  .item {
    display: block;
    background: 0 0;
    border-top: none;
    border-right: none;
    padding: 13px !important;
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    padding: 13px 28px;
    text-transform: none;
    color: #33373D;
    font-weight: 400;
    -webkit-transition: background .1s ease,box-shadow .1s ease,color .1s ease;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease;
  }

}

.personal-details-icon {
  font-family: 'zombatsregular' !important;
  font-style: inherit;
}

.personal-details-icon:before {
  content:'n';
}

li > a:focus {
    text-decoration: none;
    background-color: #fff;
}