$color-primary: #0052CC;

.color-banner{
  color: #4C4C4C;
}

.primary {
  color: $color-primary;
}

.bg-primary {
  background-color: $color-primary;
}

.border-primary {
  border-color: $color-primary;
}
