$color-primary: #0052cc;

.color-banner {
  color: #4c4c4c;
}

.primary {
  color: $color-primary;
}

.bg-primary {
  background-color: $color-primary;
}

.border-primary {
  border-color: $color-primary;
}
